*{

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  .body-text {
  
    display: flex;
  
    flex-direction: column;
  
    padding: 10px;
  
    font-family: "Montserrat", sans-serif;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 250px;
  
  }
  
  nav {
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color: #4D789F;
  
    font-family: "Montserrat", sans-serif;
  
  }
  
  .heading {
  
    color: black;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color:#4D789F;
  
  }
  
  .nav-links li a.active {
  
    background-color: #98ceff;
  
  }
  
  /* Need to ask how to center the image to be under the text */
  img {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      width: 100%;
      max-width: 600px;
      height: auto;
      border-radius: 8px;
  }